@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap-grid.min.css");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

::-moz-selection {
  background: #723434;
}

::selection {
  background: #723434;
}

body {
  background: #405340;
  color: #fff;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.page-container {
  position: relative;
  min-height: 100% !important;
}

.not-footer {
  padding-bottom: 220px;
}

footer.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 200px;
  background: #893f3f;
}

footer.page-footer .footer-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.page-footer .socials {
  gap: 12px;
}

footer.page-footer .socials a {
  font-size: 22px;
  color: #ddb980;
  -webkit-transition: .15s all ease-in-out;
  transition: .15s all ease-in-out;
}

footer.page-footer .socials a:hover {
  color: #e3e3e3;
}

.page-header {
  height: 100px;
  background: rgba(1, 0, 0, 0) none repeat scroll 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.page-header nav {
  width: 99%;
  height: 100%;
  margin: auto;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header nav .logo {
  font-size: 40px;
  font-weight: 800;
  color: #ddb980;
  font-family: 'Great Vibes';
}

.page-header nav ul {
  margin: 0;
  padding: 0px 22px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-header nav ul li {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header nav ul li a {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.page-header nav ul li a:hover {
  color: #ddb980;
}

section {
  padding: 44px 0px;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#banner {
  padding: 0;
  width: 100%;
  height: 75vh;
  -webkit-filter: brightness(0.5) saturate(1.2);
          filter: brightness(0.5) saturate(1.2);
  background: #000;
  background-attachment: fixed;
  position: relative;
}

section#banner #bannerVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

section#about {
  width: 80%;
}

section#about .ourstory {
  text-align: center;
}

section#about .ourstory p {
  margin: 22px 0;
  padding: 0 12px;
  font-size: 18px;
  line-height: 1.7;
}

section#about .clip-img {
  width: 270px;
  height: 450px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about .clip-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(2px 2px 8px #000000b6);
          filter: drop-shadow(2px 2px 8px #000000b6);
}

section#menu .products-container {
  gap: 42px 0px;
}

section#menu .product .product-image img {
  width: 320px;
  height: 240px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(2px 4px 6px #c562624f);
          filter: drop-shadow(2px 4px 6px #c562624f);
}

section#menu .product .product-name h3 {
  font-size: 28px;
  font-weight: 900;
  color: #ddb980;
}

section#menu .product .product-price p {
  font-size: 18px;
  font-weight: 700;
  color: #F1DBBF;
}

section.banner-mid {
  background: url("../assets/bannermid.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 45vh;
  position: relative;
}

section.banner-mid .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: brightness(0.35);
          backdrop-filter: brightness(0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  margin: 30px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title h1 {
  font-size: 56px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.section-title h2 {
  font-size: 50px;
  color: #ddb980;
  font-family: 'Great Vibes';
  line-height: 1;
}

form .form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

button {
  width: 280px;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  background: #ddb980;
  color: #405940;
  border: none;
  border-radius: 6px;
  margin: 14px auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  width: calc(50% - 6px);
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  border-radius: 6px;
}

.text.search {
  width: 320px;
}

.text.search input,
.text.search i,
.text.search button {
  font-size: 18px;
}

.text input,
.text i,
.text button {
  height: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 22px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text input {
  background: transparent;
  width: 100%;
  line-height: 2;
}

.text i {
  color: #405940;
  background: #ddb980;
  border-radius-left: inherit;
}

.text button {
  border-radius: 0;
  border-radius-right: inherit;
  width: 130px;
}

.service-container {
  width: 85%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 38px 0px;
}

.service {
  width: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.service i {
  font-size: 56px;
  color: #ddb980;
}

.service h2 {
  color: #ddb980;
}

.service p {
  color: #e3e3e3;
  font-size: 14px;
}

.chef-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  height: 440px;
  background-color: #2a372a;
  position: relative;
  padding: 0px 18px;
  margin: 20px 0px;
}

.chef-image {
  position: absolute;
  bottom: 0;
}

.chef-image img {
  width: 380px;
  height: unset;
  -o-object-fit: cover;
     object-fit: cover;
}

.chef-data {
  margin-left: auto;
}

.chef-name {
  font-size: 52px;
  font-family: 'Great Vibes';
  color: #F1DBBF;
}

.chef-brief {
  font-size: 14px;
}

@media (max-width: 500px) {
  .section-title {
    margin-bottom: 10px;
  }
  .section-title h1 {
    font-size: 40px;
  }
  .section-title h2 {
    font-size: 40px;
  }
  section {
    padding: 18px 0px;
  }
  section#about .ourstory p {
    margin: 0;
    font-size: 14px;
  }
  section#about .clip-img {
    display: none;
  }
  .service-container {
    width: 98%;
  }
  .service-container .service i {
    font-size: 44px;
  }
  .service-container .service h2 {
    font-size: 18px;
  }
  .service-container .service p {
    font-size: 12px;
  }
  .text.search {
    width: 260px;
  }
  .text.search button,
  .text.search input,
  .text.search i {
    font-size: 14px;
  }
  form .text {
    width: 95%;
  }
  form .text input,
  form .text i,
  form .text button {
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
    line-height: 1.5;
  }
}
/*# sourceMappingURL=style.css.map */